/*---------------
  Capabilities
---------------*/

.capabilities-header-row {
  @include flexType(f, c, c, c);
  margin-bottom: em(78);

  @include forSize(minpc) {
    @include flexType(f, sb, c, r);
  }
}

.capabilities__subtitle {
  @include flexType(f, c, c, c);
  @include fontLineWeightLetter(18, 24, bold, null, 2.31, 18);
  margin-bottom: em(90);

  @include forSize(minpc) {
    @include flexType(f, c, fs, c);
    margin-right: em(40);
    margin-bottom: 0;
  }

  &::after {
    content: "";
    display: block;
    margin-top: em(10);
    width: 26%;
    height: 2px;
    border-radius: 4px;
    background-color: $accent-color;
  }
}

.capabilities__text {
  @include fontLineWeightLetter(16, 24, norm, null, 0.2, 11);
  text-align: center;
  margin-bottom: em(60);

  @include forSize(minpc) {
    @include fontLineWeightLetter(11, 19, norm, null, 0.2, 11);
    width: calc(100% / 12 * 6);
    margin-bottom: 0;
    text-align: left;
  }
}

.capabilities__button {
  @include flexType(f, c, c);
  min-width: 150px;
  min-height: 40px;
  background-color: $accent-color;
  border-radius: 4px;
  padding: em(10) em(30);
  color: $main-text-color;
  @include fontLineWeightLetter(13, 17, bold, null, 0.5, 13);

  @include transitionRules(transform);

  &:hover,
  &:focus {
    transform: $transform-effect;
  }
}

.capabilities-row {
  @include flexType(f, c, c, c);

  @include forSize(minpc) {
    @include flexType(null, null, null, r);
    margin-left: -28px;
    margin-bottom: 80px;
  }
}

.column {
  @include borderSolid(2, $main-border-color);
  padding: 38px 22px;
  margin-bottom: 20px;

  @include forSize(minpc) {
    flex: 0 1 33.333%;
    margin-left: 28px;
    margin-bottom: 0;
  }
}

.column-list__icon {
  margin-bottom: 24px;
}

.column-list__subtitle {
  width: calc(100% / 12 * 11);
  @include fontLineWeightLetter(14, 24, eb, null, 0.43, 16);
  margin-bottom: 14px;
}

.column-list__text {
  @include fontLineWeightLetter(13, 23, norm, null, 0.19, 13);
}
