/*---------------
    Footer-nav
---------------*/

.footer-nav-container {
  background-color: $footer-nav-bg-color;
  color: $main-text-color;
  padding: 42px;
}

.footer-nav__row {
  @include flexType(f, c, fs, c);
  @include listFlexGap(30);

  @include forSize(mintab) {
    @include flexType(f, sa, fs, r);
    margin-top: 0;
  }
}

.footer-column {
  @include itemFlexGap(30, 7);

  @include forSize(minpc) {
    margin-top: 0;
  }
}

.footer-nav__first-column {
  @include flexType(f, c, c, c);

  @include forSize(minpc) {
    flex-shrink: 0;
    margin-right: 50px;
  }
}

.footer-nav__logo {
  @include forSize(minmob) {
    display: none;
  }

  @include forSize(minpc) {
    @include flexType(if, fs, fs);
    fill: $main-text-color;
    margin-bottom: 16px;
    min-width: 140px;
    min-height: 36px;
  }
}

.mobile-list {
  @include forSize(minmob) {
    display: none;
  }

  @include forSize(minpc) {
    display: block;
  }
}

.footer-nav-icons {
  @include flexType(f, c, c, r);

  @include forSize(mintab) {
    @include flexType(f, c, c, c);
  }
}

.footer-nav-icons-list:not(:last-child) {
  margin-right: 20px;

  @include forSize(mintab) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer-nav-icons-list:last-child {
  margin-right: 0;
  @include forSize(minpc) {
    margin-bottom: 0;
  }
}

.footer-nav__icon {
  @include flexType(f, c, c);
  fill: $main-text-color;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: $accent-color;
  @include transitionRules(background-color, fill);

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: $main-bg-color;
    fill: $accent-color;
  }
}

.footer-nav-list__link {
  @include fontLineWeightLetter(11, 25, med, null, 0.85, 11);
  margin-bottom: 0;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-nav__subtitle {
  display: inline-block;
  position: relative;
  @include fontLineWeightLetter(16, 20, med, null, 0.85, 11);
  margin-bottom: em(20);
  font-style: normal;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    width: 10px;
    height: 2px;
    background-color: $accent-color;
    @include transitionRules();

    @include forSize(minpc) {
      top: 5px;
    }
  }

  &::before {
    content: "";
    transform: rotate(40deg);
    left: -24px;
  }

  &::after {
    content: "";
    transform: rotate(-40deg);
    left: -17px;
  }

  @include forSize(minpc) {
    @include fontLineWeightLetter(11, 13, med, null, 0.85, 11);
  }
}

.footer-nav__subtitle.active::before,
.footer-nav__subtitle.active::after {
  content: "";
  background-color: $main-bg-color;
}

.footer-nav__subtitle.active::before {
  content: "";
  transform: rotate(-40deg);
}

.footer-nav__subtitle.active::after {
  content: "";
  transform: rotate(40deg);
}

.footer-nav-list__item {
  font-style: normal;
  @include fontLineWeightLetter(11, 19, med, null, 0.85, 11);
}
