/*---------------
      Hero
---------------*/

.hero {
  background-image: url("../../images/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: em(300);
  padding-bottom: em(300);
}

.hero__title {
  @include flexType(f, c);
  @include fontLineWeightLetter(32, 40, bold, base);
  color: $main-text-color;
  margin-bottom: 10px;
  text-align: center;

  @include forSize(minpc) {
    @include fontLineWeightLetter(60, 70, bold, null, 5.71, 60);
  }
}

.hero__text {
  @include flexType(f, c);
  color: $main-text-color;
  @include fontLineWeightLetter(16, 18, norm, base);
  text-align: center;

  @include forSize(minpc) {
    @include fontLineWeightLetter(16, 22, norm, base);
  }
}
