.dark .modal-sub__content {
  background-color: rgba(32, 35, 54, 1);
}

.modal-sub__form {
  @include flexType(f, null, null, c);
  // background-image: $addtitional-line-grad, url("../../images/thousand-first.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  .dark & {
    // background-image: $dark-theme-line-grad, url("../../images/thousand-first.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }
}

.modal-sub__title {
  @include flexType(c, c, c);
  padding-top: 80px;
  @include fontLineWeightLetter(32, 48, eb, base);
  color: $sec-text-color;

  .dark & {
    color: $main-bg-color;
  }
}

.modal-sub__label {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  margin-bottom: 6px;
  @include fontLineWeightLetter(12, 14, eb, base);
  color: $sec-text-color;

  .dark & {
    color: $main-bg-color;
  }
}

.modal-sub__field {
  @include flexType(f, null, null, c);
  min-width: 448px;
  min-height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 14px;

  @include transitionRules(border, outline);

  &:hover,
  &:focus {
    outline: $accent-color;
    cursor: pointer;
    @include borderSolid(1, $accent-color);
  }
}

.modal-sub__field:hover + .modal-sub__field-img,
.modal-sub__field:focus + .modal-sub__field-img {
  @include transitionRules(fill);
  fill: $accent-color;
}

.modal-sub__field-img {
  position: absolute;
  top: 39px;
  left: 50px;
}

.modal-sub__button {
  @include flexType(c, c, c);
  // @extend .button;
  margin-left: auto;
  margin-right: auto;
}
