/*---------------
    Our-story
---------------*/

.story__subtitle {
  @include flexType(f, c, c, c);
  @include fontLineWeightLetter(18, 24, bold, null, 2.31, 18);
  margin-bottom: em(90);

  &::after {
    content: "";
    display: block;
    margin-top: em(10);
    width: 6%;
    height: 2px;
    border-radius: 4px;
    background-color: $accent-color;
  }
}

.story-row {
  @include flexType(f, sb, fe);
}

.story-left-block {
  width: calc(100% / 12 * 6);
}

.story-left-block__text {
  width: calc(100% / 12 * 10);
  @include fontLineWeightLetter(20, 27, eb, null, 0.19, 20);
  margin-bottom: em(30);

  & span {
    color: $accent-color;
  }
}

.story-left-block__subtext {
  width: calc(100% / 12 * 11);
  @include fontLineWeightLetter(13, 23, med, null, 0.19, 13);
}

.story-right-block-list {
  @include flexType(f, c, fs);
  @include listFlexGap(20);
  margin-top: 0;
}

.story-right-block-list__item {
  position: relative;
  @include itemFlexGap(20, 3);
  margin-top: 0;
}

.story-right-block-list__item:last-child {
  margin-right: 0;
}

.story-right-block__label {
  position: absolute;
  top: em(10);
  left: em(10);
  right: 0;
  width: calc(100% / 12 * 3);
  @include fontLineWeightLetter(24, 29, eb, null, 0.19, 24);
  color: $main-text-color;
}
