/*---------------
    Our-story
---------------*/

.story__subtitle {
  @include flexType(f, c, c, c);
  @include fontLineWeightLetter(18, 24, bold, null, 2.31, 18);
  margin-bottom: em(90);

  &::after {
    content: "";
    display: block;
    margin-top: em(10);
    width: 18%;
    height: 2px;
    border-radius: 4px;
    background-color: $accent-color;

    @include forSize(minpc) {
      width: 6%;
    }
  }
}

.story-row {
  @include flexType(f, c, c, c);

  @include forSize(minpc) {
    @include flexType(f, sb, fe, r);
  }
}

.story-left-block {
  @include forSize(minpc) {
    width: calc(100% / 12 * 6);
  }
}

.story-left-block__text {
  @include fontLineWeightLetter(20, 27, eb, null, 0.19, 20);
  margin-bottom: em(30);
  text-align: center;

  @include forSize(minpc) {
    width: calc(100% / 12 * 10);
    text-align: left;
  }

  & span {
    color: $accent-color;
  }
}

.story-left-block__subtext {
  @include fontLineWeightLetter(13, 23, med, null, 0.19, 13);
  text-align: center;
  margin-bottom: 60px;

  @include forSize(minpc) {
    width: calc(100% / 12 * 11);
    text-align: left;
    margin-bottom: 0;
  }
}

.story-right-block-list {
  @include flexType(f, c, fs, c);

  @include forSize(mintab) {
    @include flexType(f, c, c, r);
  }

  @include forSize(minpc) {
    @include listFlexGap(20);
    margin-top: 0;
  }
}

.story-right-block-list__item {
  position: relative;
  margin-bottom: 20px;

  @include forSize(mintab) {
    margin-right: 20px;
  }

  @include forSize(minpc) {
    @include itemFlexGap(20, 3);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 160px;
  }
}

.story-right-block-list__item:last-child {
  margin-right: 0;
}

.story-right-block__label {
  position: absolute;
  @include fontLineWeightLetter(24, 29, eb, null, 0.19, 24);
  color: $main-text-color;

  @include forSize(minpc) {
    top: em(10);
    left: em(10);
    right: 0;
    width: calc(100% / 12 * 3);
  }
}
