/*---------------
    Subscribe
---------------*/

.subscribe {
  background-color: $sec-bg-color;
  padding-top: 34px;
  padding-bottom: 34px;
}

.subscribe-container {
  @include flexType(f, c, c);
}

.subscribe__subtitle {
  margin-right: 70px;
  @include fontLineWeightLetter(22, 30, eb, null, 0.85, 22);
  color: $main-text-color;
}

.subscribe__row {
  @include flexType(f, c, c);
}

.subscribe__email {
  min-width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 4px;
}

.subscribe__button {
  @extend .capabilities__button;
}
